# API Configuration
VITE_API_URL=http://localhost:5000
VITE_ENV=development
VITE_API_VERSION=v1

# Security (Matches Backend INTERNAL_API_KEY)
VITE_INTERNAL_SECRET=

# URLs
FRONTEND_URL=http://localhost:5173

# Cloudflare Turnstile (Frontend Key)
VITE_TURNSTILE_SITE_KEY=